@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
* {
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
}

#page {
    padding: 32px;
    max-width: 1200px;
}

body,
#page,
#dash {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

nav {
    display: flex;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
    color: #7c8ba1;
    padding-top: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    position: relative;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
}

h3 {
    font-size: 16px;
    color: #5b13eb;
    letter-spacing: 2px;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -6px;
    right: 0;
    transition: all 300ms ease;
    background-color: #6415ff;
    opacity: 0;
}

.link__hover--effect:hover:after {
    opacity: 1;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    padding: 0;
}

.logo__brand {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.brand {
    font-size: 24px;
    padding-left: 12px;
    font-weight: 900;
    transition: all 300ms ease;
    color: #243e63;
    letter-spacing: 1px;
}

.brand:hover {
    color: #6415ff;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

button{
    background-color: #6415ff;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 64px;
    color: #f7fafc;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;;
    max-width: 160px;
}

button:hover {
    background-color: #5011cc;
}

.nav__link,
.nav__link--primary {
    margin-left: 48px;
    font-size: 14px;
    font-weight: 600;
    transition: all 200ms ease;
}

.nav__link:hover {
    color: #6415ff;
}

.nav__link--primary {
    background-color: #6415ff;
    font-size: 14px;
    padding: 12px 32px;
    border-radius: 64px;
    color: #f7fafc;
}

.nav__link--primary:hover {
    color: #edf2f7;
    background-color: #4c07d6;
}

.nav__link--secondary {
    margin-left: 96px;
    font-size: 14px;
    font-weight: 600;
    transition: all 200ms ease;
}

.nav__link--secondary:hover {
    color: #6415ff;
}

.dash__header {
    font-size: 48px;
    color: #1a202c;
}

.container {
    padding: 96px 0;
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: column;
}

.dash__para {
    color: #243e63;
    font-size: 18px;
    padding: 32px 0;
}

.email__started {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

input {
    font-size: 14px;
    border-radius: 64px;
    padding: 24px 192px 24px 32px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    transition: all 300ms;
}

::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: rgb(226, 232, 240);
}

input:hover {
    border-color: rgba(34, 90, 136, 0.5);
}

input:focus {
    border-color: #6415ff;
    outline: transparent solid 2px;
}

.btn__2 {
    background-color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 64px;
    color: #f7fafc;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
    display: flex;
    position: absolute;
    margin: 8px 8px;
}

.button:hover {
    background-color: #3c0d99;
}

.customers__logo--strip {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.trusted__customers {
    font-size: 12px;
    font-weight: 600;
    color: #a0aec0;
}

.customers__logos {
    padding: 16px 104px 0 0;
    opacity: .5;
}

.office__img {
    width: 60%;
}

.blue {
    color: #5b13eb;
}

/* FEATURES */

.features__container {
    display: flex;
    flex-direction: column;
}

.features__header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.subtitle {
    padding-bottom: 16px;
}

.under__subtitle {
    padding: 16px 0;
}

.para {
    max-width: 640px;
    padding-top: 16px;
}

.features__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 32px;
}

.feature {
    width: calc(100% / 3);
    padding: 32px 24px;
    display: flex;
}

.feature__img {
    font-size: 20px;
    border-style: solid;
    border-radius: 99px;
    border-width: 1px;
    border-color: rgb(226, 232, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    max-height: 28px;
    max-width: 28px;
}

.fas {
    color: #6415ff;
}

.feature__para {
    font-size: 16px;
}

.feature__desc {
    display: flex;
    flex-direction: column;
    padding: 8px 0 0 16px;
}

/* QUALITY */

.quality__row {
    width: 50%;
    padding-right: 32px;
}

.img__wrapper {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
}

.img__holder {
    width: 100%;
    height: auto;
    position: relative;
}

.home__screenshot {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgb(226, 232, 240);
}

.dots {
    max-width: 82px;
    max-height: 82px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(41px) translateY(35px);
    z-index: -1;
}

.dot {
    width: 10%;
    max-width: 1px;
    max-height: 1px;
    padding: 1px;
    border: 1px solid #6415ff;
    border-radius: 99px;
    background-color: #6415ff;
    margin: 2px;
}

/* STEPS */

.reverse__container {
    display: flex;
    flex-direction: row-reverse;
}

.steps__row {
    padding-left: 64px;
    width: 50%;
    display: flex;
}

.home__screenshot--laptop {
    width: 100%;
    height: auto;
}

.steps__numbered {
    max-width: calc(100% * 4 / 5);
    padding-top: 12px;
    display: flex;
    flex-direction: column;
}

.steps__numbers {
    padding-top: 36px;
    display: flex;
    flex-direction: row;
}

.steps__number {
    padding-right: 24px;
    font-weight: 600;
    font-size: 36px;
    color: #cbd5e0;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
}

.step__para {
    font-weight: 500;
    font-size: 14px;
    color: #718096;
}

.dots2 {
    max-width: 164px;
    max-height: 164px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translateX(200px) translateY(76px);
    z-index: -1;
}

.dot2 {
    width: 10%;
    max-width: 4px;
    max-height: 4px;
    padding: 3px;
    border: 1px solid #E8DCFF;
    border-radius: 99px;
    background-color: #E8DCFF;
    margin: 4px;
}

/* VALUES */

.values__container {
    width: 100%;
    display: flex;
}

.values__row {
    width: 50%;
    padding-right: 48px;
}

.values__desc {
    font-size: 18px;
    font-weight: 500;
}

.values__sidebyside {
    padding-top: 32px;
    display: flex;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__subtitle {
    font-size: 20px;
}

.fa-dollar-sign,
.fa-suitcase {
    font-size: 20px;
    border-style: solid;
    border-radius: 99px;
    border-width: 1px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-height: 28px;
    max-width: 28px;
    margin-right: 12px;
}

.fa-dollar-sign {
    color: #467c59;
    background-color: #9ae6b4;
}

.fa-suitcase {
    color: #964f4f;
    background-color: #feb2b2;
}

.values__img {
    width: 50%;
    height: auto;
    display: flex;
}

.learn__more {
    margin-top: 48px;
}

/* PRICING */

.pricing__container {
    display: flex;
    flex-direction: column;
}

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__para {
    max-width: 480px;
}

.prices {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

.price__box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    margin: 0 16px;
    overflow: hidden;
}

.color__strip {
    width: 100%;
    height: 8px;
}

.color__strip--red,
.enterprise__btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.color__strip--green,
.personal__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.price__box--header,
.price__box--desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.price__box--title {
    font-size: 20px;
}

.price__box--price {
    color: #1a202c;
    font-size: 48px;
    font-weight: 700;
    padding: 12px 0;
}

.price__box--business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.monthly {
    font-size: 16px;
    color: #a0aec0;
    letter-spacing: 1px;
}

.price__box--desc {
    border-top: 2px solid #e2e8f0;
    border-bottom: 2px solid #e2e8f0;
}

.business__price__box--desc {
    border-top: 2px solid rgb(102 126 234);
    border-bottom: 2px solid rgb(102 126 234);
}

.price__box--subtitle {
    color: #1a202c;
    font-size: 20px;
}

.price__box--info {
    color: #718096;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}

.price__box--button {
    width: 100%;
    min-width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.white {
    color: white;
}

.pricing__buttons {
    padding: 20px 32px;
    width: 100%;
    max-width: 200px;
}

.business__btn {
    background-color: white;
    color: #6415ff;
}

/* BAR */

.bar__container {
    width: 100%;
    background-color: #6415ff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 96px 0;
    position: relative;
    overflow: hidden;
}

.bar__row {
    width: 50%;
    padding-left: 128px;
    font-size: 20px;
    z-index: 2;
}

.line__spacing {
    line-height: 1.5;
}

.btns {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2 {
    width: 100%;
    margin: 0;
    font-size: 16px;
    padding: 24px 0;
}

.get__started--btn {
    background-color: #f56565;
    margin-right: 32px;
    z-index: 2;
}

.contact__us--btn {
    border: 1px solid white;
    z-index: 2;
}

.dot_1,
.dot_2 {
    position: absolute;
    background-color: #5a13e5;
    padding: 160px;
    border-radius: 999px;
}

.dot_1 {
    left: 0;
    bottom: 0;
    transform: translateX(-80px) translateY(130px);
}

.dot_2 {
    right: 0;
    top: 0;
    transform: translateX(80px) translateY(-260px);
}

/* FOOTER */

footer {
    left: 0;
    width: 100%;
    background-color: #6415ff;
    margin-top: 92px;
    display: flex;
    justify-content: center;
}

.footer__container {
    max-width: 1200px;
    padding: 96px 32px;
    display: flex;
    flex-direction: column;
}

.footer__lists {
    display: flex;
    justify-content: space-between;
}

.footer__list--title {
    font-size: 16px;
    padding-bottom: 12px;
}

.footer__list--items {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    padding-top: 16px;
}

.divider {
    border: 1px solid;
    color: rgb(116 44 255);
    margin: 64px 0;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__logo--brand {
    display: flex;
    align-items: center;
}

.logo2 {
    width: 32px;
}

.brand2 {
    padding-left: 8px;
    font-size: 20px;
}

.copyright {
    color: #cbd5e0;
    font-size: 16px;
    font-weight: 500;
}

.button__list {
    display: flex;
    align-items: center;
}

.social__link {
    background-color: white;
    border-radius: 999px;
    padding: .5rem;
    margin-right: 12px;
}

.fab {
    color: #1a202c;
}

/* LESS THAN 1024px DEVICES */

@media (max-width: 1023px) {
    .nav__links {
        display: none;
    }
}